body {
	font-family: 'Courier New', Courier, monospace;
	font-size: 19px;
	background-color: powderblue;
	text-align: left;
}

h1 {
	font-size: 60px;
  background-color: tomato;
	font-family: verdana;
	text-align: center;
}

h1, h4, p, pre, a:link {
	color: white;
}

a:link {
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: tomato;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: tomato;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a.footer_links {
	color: black;
}

img#main-image {
  width: 200px;
  height: 200px;
  float: left;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
}

th, td {
  padding: 15px;
}

table {
  margin: auto;
}

ul#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#nav li {
  float: left;
}

ul#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul#nav li a:hover {
  background-color: tomato;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

aside {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  text-align: left;
  background-color: white;
}

.aside {
  color: powderblue;
}

footer {
  text-align: center;
}